container {
    display: flex;
    flex-direction: row;
    gap: 5em;
}

setup-container,
game-container {
    display: grid;
    grid-template-columns: repeat(10, 1.5em);
    grid-template-rows: repeat(10, 1.5em);
}

.invisible {
    display: none;
}
