setup-div,
div {
    border: #9b9b9b 1px solid;
}

setup-div:hover {
    background-color: rgb(77, 139, 231);
    cursor: pointer;
}

div.hit {
    background-color: red;
    pointer-events: none;
}

div.miss {
    background-color: #0064ff;
    pointer-events: none;
}

div.won {
    pointer-events: none;
}

div.lost {
    pointer-events: none;
}

.ship-square {
    background-color: rgb(237, 237, 237);
}

.two {
    cursor: crosshair;
}

.two:hover {
    background-color: rgb(156, 204, 246);
}
