block-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

p {
    margin-right: 2em;
}

block {
    display: block;
    height: 1em;
    width: 1em;
    background-color: white;
    border: 1px solid black;
}
